body {
    height: 100vh;
    background-color: pink;
}

header {
    border-bottom: 4px solid black;
    margin: 25px;
    padding: 25px;
}

#loginform {
    width: 250px;
    height: 200px;
    margin-bottom: 25px;
    padding: 25px;
    background-color: whitesmoke;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

#btn-out {
    display: none;
}

#btn-startpage {
    display: none;
}

#newuserform {
    width: 250px;
    height: 200px;
    margin-bottom: 25px;
    padding: 25px;
    background-color: whitesmoke;
    border: 1px solid orangered;
    box-shadow: 0 0 10px orange;
    display: none;
}

main {
    margin: 25px;
    padding: 25px;
}

footer {
    margin: 25px;
    padding: 25px;
    border-top: 3px solid black;
}